.modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Disable scroll*/
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
}

.modal-content, .modal-load {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 4% 4%;
  border: 3px solid #888;
  border-radius: 20px;
  width: 700px;
  background: -webkit-gradient(linear, left top, right top, from(#efefef), color-stop(50%, #dbdbdb), to(#efefef));
  background: linear-gradient(to right, #efefef 0%, #dbdbdb 50%, #efefef 100%);
}

.modal-load {
  text-align: center;
}

.loader {
  border: 2vw solid #f3f3f3;
  /* Light grey */
  border-top: 2vw solid goldenrod;
  /* Golden */
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  display: inline-block;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 5%;
  grid-row-gap: 0;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 45px;
  font-weight: bold;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: -4vw -3vw 0 0;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.portrait {
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1 / span 6;
  width: 100%;
  height: auto;
  border: 4px solid goldenrod;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.char-name {
  font-size: 30px;
  font-weight: bolder;
}

.stats {
  font-size: 20px;
  text-transform: capitalize;
}

.footer {
  width: 100%;
  height: 20px;
  background-color: black;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  font-family: Arial;
  color: white;
  padding: 20px 0;
}

/*** Handles Modal settings when screen width decreases to less than 735px */
@media only screen and (max-width: 735px) {
  .modal-content, .modal-load {
    width: 80vw;
    margin: 2vh auto;
  }
  .stats {
    -ms-grid-column-align: start;
        justify-self: start;
    font-size: 2.8vw;
  }
}

/*** Handles Modal settings when screen width decreases to less than 516px */
@media only screen and (max-width: 516px) {
  .modal-content, .modal-load {
    width: 60vh;
    height: auto;
    margin: 5vh auto;
  }
  .grid-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    padding: 10px;
    justify-items: center;
    grid-row-gap: 5px;
  }
  .char-name {
    font-size: 6vw;
    margin-bottom: 2vw;
  }
  .portrait {
    -ms-grid-row: 2;
    -ms-grid-row-span: 7;
    grid-row: 2 / span 7;
    width: 60%;
    margin-bottom: 2vw;
  }
  .stats {
    -ms-grid-column-align: start;
        justify-self: start;
    font-size: 2.1vh;
  }
}
/*# sourceMappingURL=modal.style.css.map */